@media (width >= 600px) {
    html {
        font-family: 'Arial', sans-serif;
        background: url('hb.webp') center; 
        min-height: 100vh;
        min-width: 100vw;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

html::before {
    content: '';
    left:0;
    top:0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -10;
}
h1 {
    color: tomato;

    font-weight: 100;
    font-size:20px;
    margin-bottom:20px;
}

p {
    color:deeppink;
    margin-bottom: 14px;
    margin-top: 0px;
    text-align: center;
}

.description {
    margin-bottom: 24px;
}

a {
    color:currentColor;
}
a:hover {
    text-decoration: none;
}
body {
    padding: 12px;
    margin-bottom:300px;
    background-color: black;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.detail {
    margin-top: 42px;
    font-size: 13px;
    color:gray;
}
